@charset "utf-8";
/* Reset CSS*/
html, body {
	margin: 0;
	height: 100%;
	font-family: Myriad Pro;
	font-size:16px;
	position: relative;
}
ul, ol, dl, li {
	list-style: none;
}
dt, dd {
	display: inline-block;
}
dt{
	width:6em;
}
a,a:hover{
	color: inherit;
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{content: '.';height: 0;display: block;visibility: hidden; clear:both;}
/* Page Setting */
.body {
	text-align: center;
	width: 100%;
	height: 100%;
}
.body>* ,header,{
	width: 100%;
}
section {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	overflow:hidden;
}
.container {
	width: 90%;
	margin: 0 auto;  
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.title>h1, .title>h2, .title>h3 {
	color: rgba(245, 245, 245,.8);
	text-shadow: 2px 1px 2px #000;
}
.title .sub-title {
	color: #fff;
}
hr {
	width: 90%;
	box-shadow: 2px 1px 2px #000;
}
.photo {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	border: 3px solid #aaa;
}
#self-photo {
	width: 310px;
	position: absolute;
	top: 0;
	left: -50px;
}
/*首页*/
#home {
	background-color: #99ccff;
	background-image: url(../img/office1.jpg);
}
@media (max-width:767px) {
	#home ul.list-inline> li {
		display: block;
		margin-bottom: 1.2em;
		padding: 0;
	}
}
#home .title {
	background-color: rgba(20, 20, 20,.3);
}
/*个人信息*/
#about {
	background-color: #ccffff;
	background-image: url(../img/office2.jpg);
}
#about dl{
	text-align: left;
	text-shadow: 2px 1px 2px #ccc;
}
/*个人作品集*/
#portfolio {
	background-color: #cfd6e8;
	height: auto;
	overflow:auto;
	padding-top: 3em;
}
#portfolio .sub-title{
	padding: 0.5em 3em;
	background-color: rgba(144,161,209,.5);
	margin:0;
	text-align: left;
}
/*幻灯片*/
.slide{
	width: 100%;
	margin:0 auto;
	position:relative;
}
.slide .screen{
	width: 100%;
	/*min-height: 300px;*/
	position: relative;
	overflow: hidden;
}
.slide .film{
	/*无限长，放元素用*/
	width: 10000px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
.slide .film>li{
	display:block;
}
.slide .film-item{
	float: left;
	height:100%;
	text-align: center;
}
.slide .controller{
	height: 80px;
	width: 40px;
	background-color: #e5f8c4;
	/*垂直居中*/ 
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);  
	-ms-transform: translate(0,-50%);  
	transform: translate(0,-50%); 
	/*文字*/
	line-height: 80px;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	opacity: 0.3;
	background-color: #000;
	cursor: pointer;
}
.slide .controller:hover{
	opacity: 0.8;
}
.slide .controller.prev{
	left: 0;
}
.slide .controller.next{
	right: 0;
}
.slide .labels{
	height: 30px;
	line-height: 30px;
	width: 200px;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.slide .labels i{
	border-radius: 50%;
	width: 1em;
	height: 1em;
	background-color: rgba(144,161,209,.5);
	cursor: pointer;
	display: inline-block;
	margin-left: 1em;
}
.slide .labels i:hover{
	background-color: #8da1d1;
}
.slide .labels i.active{
	background-color: #5377ce;
}
/*幻灯片自定义属性*/
.slide .item{
	text-align: center;
	height:100%;
}
.slide .item .item-img{
	height:85%;
}
.slide .item .item-detail{
	text-align: center;
	font-size:1.2em;
	height: 15%;
	padding:0.5em;
	overflow: hidden;
}
.slide .item .item-detail h4{
	display: inline;
}
.slide .item .item-detail a{
	display: inline-block;
	padding:0 0.5em;
	border: 1px solid #ccc;
	background-color: rgba(255,255,255,.5);
	border-radius: 0.5em;
	box-shadow: 1px 1px 1px #ddd;
}
.slide .item .item-detail a:hover{
	box-shadow: inset 1px 1px 1px #ddd;
	color: #6699cc;
}
/*联系方式*/
#contact {
	background-color: #6699cc;
	background-image: url(../img/office4.jpg);
}
#contact ul,#contact dl{
	text-align: left;
	font-size: 1.2em;
	margin-top: 1em;
}
#contact ul .btn {
	margin-top: 0.2em;
}
footer {
	text-align: left;
}
/*项目内部的CSS代码*/
/*谚语*/
.profile-box{
	padding: 2em;
	position: relative;
}
.quote{
  font-family:"华文新魏";
  font-size:1.5em;
/*  自定位置  */
}
.quote .screen{
  padding:1em;
  background-color:#fff;
  border-radius:10px;
}
.quote .quote-text{
  position:relative;
}
.quote .quote-content{
  padding:0 3em;
}
.quote .quote-i{
  font-size:3em;
  font-weight:bold;
}
.quote .quote-i{
  display:inline-block;
  width:100%;
  text-align:left;
}
.quote .quote-i.right,.quote-author.right{
  text-align:right;
}
.quote-author{
  padding:1em;
}
.controller{
  text-align:right;
}
.quote .btn{
  height:40px;
  line-height:40px;
  width:80px;
  margin:auto 2em;
  font-family:inherit;
  font-size:18px;
  border:none;
  color:#fff;
  cursor:pointer;
}
.paragraph{
  color:white;
  font-size:10px;
}