/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
i,b {
  font-style: normal;
  font-weight: normal;
}
ul,ol,dl,li,dt,dd {
  list-style: none;
}
html,body {
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  margin :0;
  text-align: center;
}
iframe {
  border: none;
}
/*清除浮动*/
.cf:after{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
 /*动画效果*/
@keyframes sparking {
  0%,100% { color: #000;}
  50% { color: #fff;}
}
@-webkit-keyframes sparking {
  0%,100% { color: #000;}
  50% { color: #fff;}
}
@-moz-keyframes sparking {
  0%,100% { color: #000;}
  50% { color: #fff;}
}